---
const today = new Date();
---

<footer
  class="text-center text-primary bg-size-[auto_300px] bg-no-repeat bg-linear-0 from-secondary/50 to-background text-sm px-4 pt-8 pb-24"
>
  &copy; {today.getFullYear()} HanzFelix. All rights reserved.
  <div class="flex justify-center gap-4 mt-4 *:hover:text-text/50">
    <a href="mailto:tumulakhanz@gmail.com" target="_blank">
      <span class="sr-only">Send HanzFelix an e-mail</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 16 16"
      >
        <path fill="currentColor" d="M0 3.121V15h16V3.121l-8 8z"></path>
        <path fill="currentColor" d="M16 1H0l8 8z"></path>
      </svg>
    </a>
    <a href="https://github.com/HanzFelix" target="_blank">
      <span class="sr-only">Follow HanzFelix on Github</span>
      <svg
        viewBox="0 0 16 16"
        aria-hidden="true"
        width="24"
        height="24"
        astro-icon="social/github"
        ><path
          fill="currentColor"
          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
        ></path></svg
      >
    </a>
    <a href="https://www.linkedin.com/in/hanzfelixtumulak/" target="_blank">
      <span class="sr-only">Follow HanzFelix on LinkedIn</span>
      <svg viewBox="0 0 128 128" width="24" height="24">
        <path
          fill="currentColor"
          d="M116 3H12a8.91 8.91 0 00-9 8.8v104.42a8.91 8.91 0 009 8.78h104a8.93 8.93 0 009-8.81V11.77A8.93 8.93 0 00116 3zM39.17 107H21.06V48.73h18.11zm-9-66.21a10.5 10.5 0 1110.49-10.5 10.5 10.5 0 01-10.54 10.48zM107 107H88.89V78.65c0-6.75-.12-15.44-9.41-15.44s-10.87 7.36-10.87 15V107H50.53V48.73h17.36v8h.24c2.42-4.58 8.32-9.41 17.13-9.41C103.6 47.28 107 59.35 107 75z"
        ></path>
      </svg>
    </a>
    <a href="https://ko-fi.com/hanzfelix" target="_blank">
      <span class="sr-only">Follow HanzFelix on Ko-Fi</span>
      <svg
        viewBox="0 0 31 24"
        aria-hidden="true"
        width="31px"
        height="24px"
        astro-icon="social/ko-fi"
      >
        <path
          fill="currentColor"
          d="M0 7.616c0,-4.462 2.684,-6.877 5.838,-7.28 2.382,-0.302 5.335,-0.336 8.823,-0.336 5.435,0 6.844,0.067 8.857,0.268 4.731,0.47 7.482,3.389 7.482,7.583l0 0.537c0,3.892 -2.852,7.079 -6.71,7.414 -0.302,1.007 -0.772,2.013 -1.409,3.02 -1.477,2.281 -4.429,5.167 -9.864,5.167l-1.074 0c-4.429,0 -7.851,-1.912 -9.897,-5.402 -1.812,-3.052 -2.046,-6.442 -2.046,-10.971zm2.515 0.033c0,4.328 0.269,7.113 1.679,9.696 1.61,2.986 4.529,4.127 7.851,4.127l1.039 0c4.362,0 6.476,-2.114 7.65,-3.959 0.571,-0.939 1.073,-1.979 1.342,-3.288l0.201 -0.839 1.208 0c2.684,0 4.999,-2.18 4.999,-4.965l0 -0.504c0,-3.119 -1.945,-4.764 -5.335,-5.166 -1.912,-0.168 -3.053,-0.235 -8.488,-0.235 -3.657,0 -6.274,0.034 -8.253,0.336 -2.785,0.403 -3.893,1.979 -3.893,4.797z"
        ></path>
        <path
          fill="currentColor"
          d="M22.279 9.965c0,0.403 0.302,0.705 0.838,0.705 1.711,0 2.651,-0.974 2.651,-2.584 0,-1.61 -0.94,-2.617 -2.651,-2.617 -0.536,0 -0.838,0.302 -0.838,0.705l0 3.791z"
        ></path>
        <path
          fill="currentColor"
          d="M5.804 9.764c0,1.979 1.108,3.69 2.517,5.033 0.94,0.906 2.416,1.846 3.422,2.449 0.302,0.168 0.604,0.269 0.94,0.269 0.403,0 0.737,-0.101 1.007,-0.269 1.007,-0.603 2.482,-1.543 3.388,-2.449 1.443,-1.342 2.55,-3.053 2.55,-5.033 0,-2.148 -1.61,-4.06 -3.925,-4.06 -1.376,0 -2.315,0.705 -3.02,1.678 -0.638,-0.974 -1.61,-1.678 -2.987,-1.678 -2.348,0 -3.892,1.912 -3.892,4.06z"
        ></path>
      </svg>
    </a>
  </div>
</footer>
